@charset "UTF-8";
body{
    background-image:url(picture/book1.jpg) ;  
    background-repeat: no-repeat;
   background-size: cover;
    font-family:  arial black;
}

booktop{
    background-color:"#ffffff"
        
}



book1{
    background-image:url(picture/book1.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    height: 100vh;
    font-family: arial black
}



book2{
    background-image:url(picture/book2.gif);
background-repeat:no-repeat;
background-size: contain;
height: 100vh;
font-family: arial black;
}

error{
    background-image:url(picture/book2.jng) ;  
    background-repeat: no-repeat;
    background-position: center ;
    font-family:  Century;
}
button1{
    height: 100px;
    width: 200px;
    position:relative;
    top:2px;
    left:273px;
}
button2{
    height: 77px;
    width: 169px;
    position:relative;
    top:2px;
    left:273px;
}
button3{
    height: 77px;
    width: 169px;
    position:relative;
    top:2px;
    left:273px;
}



